html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;', name='viewport')
    title Thank you for the contribution!
  body(style='background-color:#FFFFFF', align='center')
    table(border='0', cellpadding='0', cellspacing='0', align='center', style='min-width:360px; max-width:380px')
      tr
        td(width='360px')
          table(border='0', bordercolor='#49C6D7', cellpadding='20px', cellspacing='0',height='100%')
            tr(style='background-color:#49C6D7')
              td(width='360px', align='center', valign='top', style="color:#FFFFFF; font-size:16px; font-family: 'Hiragino Sans GB', 'Microsoft YaHei', Verdana; line-height:150%; text-align:center;")
                br
                img(src='http://nextday-file.b0.upaiyun.com/edm/tittle.png', width='280px', height='60px')
                br
                br
                br
                img(src='http://nextday-file.b0.upaiyun.com/edm/mboy.png', width='210px', height='250px')
                br
                br
                p(align='left') #{start}
                p(align='left') #{content}
                p(align='left', style='font-weight: bold') #{regards}
                br
                br
                img(src='http://nextday-file.b0.upaiyun.com/edm/footer.png', width='190px', height='40px')
                br
            tr
              td(width='360px', align='center', valign='top', style='color:#41280D; font-size:8px; font-family: Arial; line-height:100%; text-align:center;')
                p Copyright &copy; 2013 Next Experience Interactive